VITE_APP_NAME=Telegram Wallet Demo
VITE_DEMO_MODE=true
VITE_DISABE_SIGNUP=false
VITE_DISABE_RESET_PASSWORD=false
VITE_DEFAULT_LANGUAGE=en
VITE_AVAILABLE_LANGUAGES=en,az,kk,ky,ru,uz
VITE_REQUEST_STUCK_MS=2000
